<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>space.crewcut.transwhisper.audiotap</string>
    <key>CFBundleName</key>
    <string>transwhisper audio tap</string>
    <key>NSAudioCaptureUsageDescription</key>
    <string>transwhisper transcribes and translates the audio of your calls locally.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>transwhisper transcribes and translates the audio of your calls locally.</string>
</dict>
</plist>
